/*-- scss:defaults --*/
$body-bg: #faf9f6;
$body-color: #181818;
$link-color: #181818;
$link-hover-color: #494949;
$font-family-base: Arial, Helvetica, sans-serif;
$headings-font-family: Georgia, 'Times New Roman', serif;
$font-size-base: 1rem;
$line-height-base: 1.65;
$border-radius: 0;
